.container > div,
.timer > div,
.cycle > div {
  position: relative;
}

.cycle {
  position: absolute;
  top: 30px;
  left: 15px;

  & > div {
    width: min-content;
    filter: drop-shadow(0.3rem 0.3rem 0.1rem rgba(0 0 0 / 25%));
    min-width: 250px;
    max-width: 260px;
  }
}

.timer {
  filter: drop-shadow(0.3rem 0.3rem 0.1rem rgba(0 0 0 / 25%));
}

/* hide inconsistent hover effects due to element stack blocking */
.cover {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 304px;
  height: 304px;
}

.icon-play-pause {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 70px;
  left: 55px;
  filter: drop-shadow(0.3rem 0.3rem 0.1rem rgba(0 0 0 / 25%));

  & > svg {
    width: 180px;
    height: 180px;

    & > path {
      transition: all 0.3s ease-in-out;
      fill: var(--tertiary-color-dark, white);
    }
  }
}

.icon-stop {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0.3rem 0.3rem 0.1rem rgba(0 0 0 / 25%));

  & > svg {
    width: 50px;
    height: 50px;

    & > path {
      transition: all 0.3s ease-in-out;
      fill: var(--tertiary-color-dark, white);
    }
  }
}

.dark {
  & > svg > path {
    fill: var(--primary-color, white);
  }
}
